<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios Activos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- 1. Spinner que se muestra mientras loading es true -->
  <div *ngIf="loading" style="text-align: center; margin-top: 2rem;">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando usuarios...</p>
  </div>

  <!-- 2. Lista que se muestra cuando termina de cargar (!loading) -->
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>